@font-face{
    font-family: NotoSans;
    src: url(../fonts/NotoSans-Regular.ttf);
}
@font-face{
    font-family: fredokaOne;
    src: url(../fonts/FredokaOne-Regular.ttf);
}
@font-face{
    font-family: karla;
    src: url(../fonts/Karla-Regular.ttf);
}