::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px gray;
          box-shadow: inset 0 0 3px gray;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d74bb;
}

.Header__container {
  width: 100%;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #00002b;
  font-weight: bold;
}

.website__logo {
  width: 50px;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__menu {
  margin-right: -9px;
}

.navbar__menu li {
  margin: 0px 9px;
  cursor: pointer;
  font-weight: 600;
  color: #000033;
}

.navbar__menu li a {
  text-decoration: none;
}

.navbar__menu li a:hover {
  color: #e20026;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bar {
  position: absolute;
  margin-left: 85%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  font-size: 28px;
  visibility: hidden;
  cursor: pointer;
}

.search__container {
  width: 100%;
  height: 60px;
  background-color: #240024;
  opacity: 0.6;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__container:hover {
  opacity: 0.9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.searchDetails {
  text-align: center;
}

.close {
  position: absolute;
  margin-top: -35px;
  font-size: 25px;
  cursor: pointer;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  visibility: hidden;
  color: white;
}

.ShowHide__DetailSearch {
  position: absolute;
  display: none;
  font-size: 17px;
  background-color: #2672ff;
  border: #2672ff 1px solid;
  opacity: 0.7;
  cursor: pointer;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
}

.search__wrapper {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#InputSearch {
  width: 60%;
  height: 40px;
  border: #ffbb00 1px solid;
  background-color: #ffbb00;
  font-size: 20px;
  color: white !important;
  padding-left: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.SearchBTN {
  height: 40px;
  margin-left: -4px;
  border: #ffbb00 1px solid;
  font-size: 20px;
  color: white;
  background-color: #ffbb00;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  border-left: 1px #cccccc solid;
}

.SearchIcon {
  font-size: 18px;
  margin-top: -4px;
  padding-right: 10px;
  padding-left: 4px;
  color: white;
}

.SingIn {
  width: 120px;
  height: 40px;
  margin-right: 20px;
  border-radius: 8px;
  border: #ffbb00 2px solid;
  background-color: #240024;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
}

.SignUp {
  width: 120px;
  cursor: pointer;
  border-radius: 8px;
  border: #ffbb00 2px solid;
  background-color: #ffbb00;
  color: white;
  font-weight: 600;
  font-size: 17px;
}

.bgModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: none;
  z-index: 100;
}

.SingIn__PopUp {
  width: 90%;
  max-width: 400px;
  z-index: 1000;
  height: 460px;
  overflow: auto;
  position: fixed;
  background-color: white;
  opacity: 0.99;
  margin-left: 50%;
  margin-top: 115px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.close__SingIn {
  float: right;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}

.logo__OnSingIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.SingInBoxes {
  width: 60%;
  font-size: 18px;
  padding: 5px 9px;
  border: #2672ff 1px solid;
  border-radius: 5px;
  outline: none;
  margin-top: 25px;
}

.SingIn__PopUp__title {
  font-size: 46px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.active {
  display: block !important;
}

.PasswordRecovery {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.SingInBTN {
  width: 55%;
  margin-top: 20px;
  height: 40px;
  font-size: 25px;
  color: white;
  border-radius: 8px;
  border: #240024 1px solid;
  background-color: #240024;
}

.terms {
  margin-top: 80px;
  width: 85%;
  margin-top: 95px;
  padding: 20px;
  border: #afafaf 1px solid;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.termsTitle {
  font-size: 18px;
}
/*# sourceMappingURL=terms.css.map */